  
  @font-face {
    font-family: bebasnue;
    src:url("fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

  .bebasnue_title_font {
    font-family: bebasnue;
    text-align: center;
    color: white;
    font-size: 4em;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
}

  .bebasnue_text_titlefont {
    font-family: bebasnue;
    text-align: center;
    color: white;
    font-size: 25px;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
}

  .bebasnue_text_titlefont-catalogo {
    font-family: bebasnue;
    text-align: center;
    color: whitesmoke;
    font-size: 28px;
    font-style: italic;
    text-shadow: 2px 2px black;
}

  .bebasnue_text_font {
    font-family: bebasnue;
    text-align: center;
    color: white;
    
}

  body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );
}


  header {
    border-radius: 5px;
    width: 100%;
    background: rgb(154,31,31);
    background: radial-gradient(circle, rgba(154,31,31,1) 0%, rgba(253,29,29,1) 50%, rgba(181,29,29,1) 100%);
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


  .main_box{
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: rgb(154,31,31);
    background: radial-gradient(circle, rgba(154,31,31,1) 0%, rgba(253,29,29,1) 50%, rgba(181,29,29,1) 100%);
}


  .main_box_brand{
    border-radius: 10px;
    margin-top: 1em; 
    margin-bottom: 1em;
    background-color: white;
    border-style: solid;
}


  a:link, a:visited {   
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
}

  a:hover, a:active {
    background-color: grey;
    text-decoration: none;
    border-radius: 2em;
    
  }

  .icono-whatsapp{
    width: 3em;
    height: 3em;
    border-radius: 3em;
    position: fixed;
    bottom: 3em;
    right: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

  .d-flex1 {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

  .d-flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
  .d-flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  input[type=text]:focus {
    border: 3px solid #555;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  .rrss{
    transform: scale(1.5, 1.6);
    transition: all 0.5s;
  }

  .rrss:hover{
    transform: scale(2, 2);
  }

  .grid-container-catalogo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em 2em; 
    
  }
  .grid-item-catalogo {
    height: 14em;
    width: 10em;
    padding: 1em;
  }

  .grid-container-index {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em 1em;  
    
  }
  .grid-item-index {
    width: 27em;
    height: 46em;
  }

  .grid-container-index-carrousel {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em 1em;  
    
  }
 
  .grid-item-carrousel {
    width: 50em;
    
  }

  .grid-container-header {
    display: grid;
    grid-template-columns: auto;
    height: 9em; 
  }

  .grid-container-nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
  }

  .grid-container-nav-item{
    height: 3em;
    
  }
  .grid-container-gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em 1em;  
    
  }
  .grid-item-gallery {
    width: 27em;
    height: 29em;
  }

  .grid-container-top3 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em 1em;  
    
  }
  .grid-item-top3 {
    width: 27em;
    height: 32em;
  }

  .grid-container-contact {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em 1em;  
    
  }
  .grid-item-contact {
    width: 27em;
    height: 38em;
  }

  .grid-container-footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

    .grid-item-footer1 { grid-area: 1 / 1 / 2 / 2; }
    .grid-item-footer2 { grid-area: 1 / 2 / 2 / 3; }
    .grid-item-footer3 { grid-area: 1 / 3 / 2 / 4; }
    .grid-item-footer4 { grid-area: 1 / 4 / 2 / 5; }
    .grid-item-footer5{ grid-area: 1 / 5 / 2 / 6; }
    .grid-item-footer6{ grid-area: 2 / 1 / 3 / 6;}


/* Mobile First */
@media screen and (max-width: 767px){
  
  body {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
    background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );
  }

  .icono-whatsapp{
  width: 3em;
  height: 3em;
  border-radius: 3em;
  position: fixed;
  bottom: 3em;
  right: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  display: none;
}
  .bebasnue_title_font {
    font-family: bebasnue;
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
}

.bebasnue_text_titlefont {
  font-family: bebasnue;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-style: italic;
  text-shadow: 2px 2px #ff0000;
}

  .grid-container-catalogo {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em 2em; 
    width: 100%;
    
  }
  .grid-item-catalogo {
    height: 14em;
    width: 10em;
    padding: 1em;
  }

  .grid-container-index {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 0.5em;  
    align-self: center;
    width: 100%;
    
  }
  .grid-item-index {
    width: 100%;
    height: 95%;
    justify-content: center;
    align-items: center;
    
  }

  .grid-container-index-carrousel {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em;  
    
  }
 
  .grid-item-carrousel {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .grid-container-header {
    display: grid;
    grid-template-columns: auto;
    height: 20em;
    width: 100%; 
  }

  .grid-container-nav{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
   
  }

  .grid-container-nav-item{
    height: 5em;
    width: 100%;
    
  }

  .grid-container-gallery {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 0.5em;
    align-self: center;
    width: 100%;
    
  }
  .grid-item-gallery {
    width: 100%;
    height: 90%;
  }

  .grid-container-top3 {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 0.5em; 
    align-self: center; 
    width: 100%;
  }
  .grid-item-top3 {
    width: 100%;
    height: 95%;
    align-self: center; 
  }

  .grid-container-contact {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em; 
    width: 100%; 
    
  }
  .grid-item-contact {
    width: 100%;
    height: 95%;
  }
  .grid-container-footer{
    display: grid;
   grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 0px;
    grid-row-gap: 10px;
   
  }
    .grid-item-footer1 { grid-area: 1 / 1 / 2 / 2; }
    .grid-item-footer2 { grid-area: 1 / 2 / 2 / 3; }
    .grid-item-footer3 { grid-area: 1 / 3 / 2 / 4; }
    .grid-item-footer4 { grid-area: 1 / 4 / 2 / 5; }
    .grid-item-footer5{ grid-area: 1 / 5 / 2 / 6; }
    .grid-item-footer6{ grid-area: 2 / 1 / 3 / 6; }
}

/* Tablet Second */
@media screen and (min-width: 768px) and (max-width: 1280px){
    body {
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    
} 
  .bebasnue_title_font {
    font-family: bebasnue;
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
}

  .bebasnue_text_titlefont {
  font-family: bebasnue;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-style: italic;
  text-shadow: 2px 2px #ff0000;
}

  .grid-container-catalogo {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em 2em; 
    
  }
  .grid-item-catalogo {
    height: 13em;
    width: 9em;
    padding: 1em;
  }

  .grid-container-index {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em;  
    align-self: center;
    
  }
  .grid-item-index {
    width: 27em;
    height: 46em;
    align-self: center;
  }

  .grid-container-index-carrousel {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em;  
    
  }
 
  .grid-item-carrousel {
    width: 40em;
    
  }

  .grid-container-header {
    display: grid;
    grid-template-columns: auto;
    height: 7em;  
  }

  .grid-container-nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
  }

  .grid-container-nav-item{
    height: 5em;
  }

  .grid-container-gallery {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 0.5em;  
    
  }
  .grid-item-gallery {
    width: 27em;
    height: 29em;
  }

  .grid-container-top3 {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 0.5em; 
    align-self: center; 
    
  }
  .grid-item-top3 {
    width: 27em;
    height: 32em;
    align-self: center; 
  }

  .grid-container-contact {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em;  
    
  }
  .grid-item-contact {
    width: 27em;
    height: 38em;
  }

  .grid-container-footer{
    display: grid;
   grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 0px;
    grid-row-gap: 10px;
   
  }
    .grid-item-footer1 { grid-area: 1 / 1 / 2 / 2; }
    .grid-item-footer2 { grid-area: 1 / 2 / 2 / 3; }
    .grid-item-footer3 { grid-area: 1 / 3 / 2 / 4; }
    .grid-item-footer4 { grid-area: 1 / 4 / 2 / 5; }
    .grid-item-footer5{ grid-area: 1 / 5 / 2 / 6; }
    .grid-item-footer6{ grid-area: 2 / 1 / 3 / 6; }


}


