//Styles for Index Page

.grid-container-header {
    display: grid;
    grid-template-columns: auto;
    height: 9em; 
  }

  .grid-container-nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  .grid-container-nav-item{
    height: 3em;
  }

.grid-container-index {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em 1em;  
    
  }

  
    .grid-item-index {
    width: 27em;
    height: 46em;
  }

    .grid-item-index:hover {
    border-style: outset;
  }

    .grid-container-index-carrousel {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em 1em;  
  }

  .grid-item-carrousel {
    width: 50em;
    
  }

  .rrss{
        transform: scale(1.5, 1.6);
        transition: all 0.5s;
      }
    
  .rrss:hover{
        transform: scale(4, 4);
      }