.grid-container-header {
  display: grid;
  grid-template-columns: auto;
  height: 9em;
}

.grid-container-nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.grid-container-nav-item {
  height: 3em;
}

.grid-container-index {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em 1em;
}

.grid-item-index {
  width: 27em;
  height: 46em;
}

.grid-item-index:hover {
  border-style: outset;
}

.grid-container-index-carrousel {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em 1em;
}

.grid-item-carrousel {
  width: 50em;
}

.rrss {
  transform: scale(1.5, 1.6);
  transition: all 0.5s;
}

.rrss:hover {
  transform: scale(4, 4);
}

.grid-container-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em 1em;
}

.grid-item-gallery {
  width: 27em;
  height: 29em;
}

.grid-item-gallery:hover {
  border: outset;
}

.grid-container-top3 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em 1em;
}

.grid-item-top3 {
  width: 27em;
  height: 32em;
  padding: 1em;
}

.grid-item-top3:hover {
  border-style: outset;
}

.grid-container-catalogo {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em 2em;
}

.grid-item-catalogo {
  height: 14em;
  width: 10em;
  padding: 1em;
}

.grid-item-catalogo:hover {
  border: outset;
}

.grid-container-contact {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em 1em;
}

.grid-item-contact {
  width: 27em;
  height: 38em;
}

@font-face {
  font-family: bebasnue;
  src: url("fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
.bebasnue_title_font {
  font-family: bebasnue;
  text-align: center;
  color: white;
  font-size: 4em;
  font-style: italic;
  text-shadow: 2px 2px #ff0000;
}

.bebasnue_text_titlefont {
  font-family: bebasnue;
  text-align: center;
  color: white;
  font-size: 25px;
  font-style: italic;
  text-shadow: 2px 2px #ff0000;
}

.bebasnue_text_titlefont-catalogo {
  font-family: bebasnue;
  text-align: center;
  color: white;
  color: whitesmoke;
  font-size: 28px;
  font-style: italic;
  text-shadow: 2px 2px black;
}

.bebasnue_text_font {
  font-family: bebasnue;
  text-align: center;
  color: white;
  color: white;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  background-image: linear-gradient(178.2deg, rgb(118, 8, 23) 10.9%, rgb(158, 12, 33) 62.6%);
}
body header {
  border-radius: 5px;
  width: 100%;
  background: rgb(154, 31, 31);
  background: radial-gradient(circle, rgb(154, 31, 31) 0%, rgb(253, 29, 29) 50%, rgb(181, 29, 29) 100%);
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body input[type=text]:focus {
  border: 3px solid #555;
}
body textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/* * {
    outline: 1px solid green;
} */
a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

.style1:hover, .style1:active {
  border: outset;
  text-decoration: none;
  border-radius: 2em;
}

.main_box {
  border-radius: 5px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background: rgb(154, 31, 31);
  background: radial-gradient(circle, rgb(154, 31, 31) 0%, rgb(253, 29, 29) 50%, rgb(181, 29, 29) 100%);
}

.main_box_brand {
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white;
  border-style: solid;
}

.main_box_style {
  padding: 1em;
  background-color: #CC0000;
  border-radius: 1em;
}

.main_box_style_title {
  background-color: #e60023;
  border-radius: 1em;
  padding: 5px;
}

.d-flex1 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: grid;
}

.d-flex2 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.d-flex-footer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.grid-item-footer1 {
  grid-area: 1/1/2/2;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-item-footer2 {
  grid-area: 1/2/2/3;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-item-footer3 {
  grid-area: 1/3/2/4;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-item-footer4 {
  grid-area: 1/4/2/5;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-item-footer5 {
  grid-area: 1/5/2/6;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-item-footer6 {
  grid-area: 2/1/3/6;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Mobile First */
@media screen and (max-width: 767px) {
  body {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
    background-image: linear-gradient(178.2deg, rgb(118, 8, 23) 10.9%, rgb(158, 12, 33) 62.6%);
  }
  /* * {
       outline: 1px solid green;
   } */
  .bebasnue_title_font {
    font-family: bebasnue;
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
  }
  .bebasnue_text_titlefont {
    font-family: bebasnue;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
  }
  .grid-container-header {
    display: grid;
    grid-template-columns: auto;
    height: 16em;
    width: 100%;
  }
  .grid-container-nav {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }
  .grid-container-nav-item {
    height: 2.5em;
    width: 100%;
  }
  .grid-container-index {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 0.5em;
    align-self: center;
    width: 100%;
    overflow: hidden;
  }
  .grid-item-index {
    width: 100%;
    height: 95%;
    justify-content: center;
    align-items: center;
  }
  .grid-container-index-carrousel {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em;
    overflow: hidden;
  }
  .grid-item-carrousel {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .grid-container-gallery {
    display: grid;
    grid-template-columns: auto;
    align-self: center;
    width: 100%;
    overflow: hidden;
  }
  .grid-item-gallery {
    width: 100%;
    height: 90%;
  }
  .grid-container-top3 {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 0.5em;
    align-self: center;
    width: 100%;
  }
  .grid-item-top3 {
    width: 100%;
    height: 95%;
    align-self: center;
  }
  .grid-container-catalogo {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em 2em;
    width: 100%;
    overflow: hidden;
  }
  .grid-item-catalogo {
    height: 14em;
    width: 10em;
    padding: 1em;
  }
  .grid-container-contact {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em;
    width: 100%;
  }
  .grid-item-contact {
    width: 100%;
    height: 95%;
  }
  .grid-container-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .grid-item-footer1 {
    grid-area: 1/1/2/2;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer2 {
    grid-area: 1/2/2/3;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer3 {
    grid-area: 1/3/2/4;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer4 {
    grid-area: 1/4/2/5;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer5 {
    grid-area: 1/5/2/6;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer6 {
    grid-area: 2/1/3/6;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
/* Tablet Second */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  body {
    margin: 0 auto;
    width: 90%;
    padding: 1em;
  }
  /* * {
      outline: 1px solid green;
  } */
  .bebasnue_title_font {
    font-family: bebasnue;
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
  }
  .bebasnue_text_titlefont {
    font-family: bebasnue;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
  }
  .grid-container-header {
    display: grid;
    grid-template-columns: auto;
    height: 7em;
  }
  .grid-container-nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  .grid-container-nav-item {
    height: 5em;
  }
  .grid-container-index {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em;
    align-self: center;
  }
  .grid-item-index {
    width: 27em;
    height: 46em;
    align-self: center;
  }
  .grid-container-index-carrousel {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em;
  }
  .grid-item-carrousel {
    width: 40em;
  }
  .grid-container-gallery {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 0.5em;
  }
  .grid-item-gallery {
    width: 27em;
    height: 29em;
  }
  .grid-container-top3 {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 0.5em;
    align-self: center;
  }
  .grid-item-top3 {
    width: 27em;
    height: 32em;
    align-self: center;
  }
  .grid-container-catalogo {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em 2em;
  }
  .grid-item-catalogo {
    height: 13em;
    width: 9em;
    padding: 1em;
  }
  .grid-container-contact {
    display: grid;
    grid-template-columns: auto;
    gap: 1em 1em;
  }
  .grid-item-contact {
    width: 27em;
    height: 38em;
  }
  .grid-container-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .grid-item-footer1 {
    grid-area: 1/1/2/2;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer2 {
    grid-area: 1/2/2/3;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer3 {
    grid-area: 1/3/2/4;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer4 {
    grid-area: 1/4/2/5;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer5 {
    grid-area: 1/5/2/6;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .grid-item-footer6 {
    grid-area: 2/1/3/6;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */